<h1><%= @artist.name %></h1>

<%= image_tag @artist.picture %>

<p>voice:  <%= @artist.voice %></p>

<p>songs: </p>
<% @songs.each do |song| %>
  <article class="song">
    <h2><%= link_to song.name, song %></h2> <!-- here, song_path doesn't work,
                                      because you're in a loop where 'song'
                                      is a variable, any other '_path's WILL work-->
    <% if song.good_for_mood then %>
      <p> "mood booster :)" </p>
    <% else %>
      <p> "mood looser :(" </p>
    <% end %>
  </article>
<% end %>

<h3><%= link_to "Artist index", artists_path %><h3>
<h3><%= link_to "Add new artist", new_artist_path %><h3>
<h3><%= link_to "Destroy", destroy_artist_path(@artist), method: :delete %></h3>
